---
title: Portfolio
layout: default
---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Waynezxcv - Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header>
				<img width="190" height="190" src="images/avatar.png">
				<h1>waynezxcv</h1>
				<p>watching and learning.<br</p>
			</header>
			<div class="main">



				<ul class="cbp_tmtimeline">

					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">Cuttt!</h2>
							<time></time>
							<img src="images/work-cuttt.png">
							<ul>
								<li>
								Cuttt!是一个视频编辑应用。<br>多段视频拼接，自由选择视频区间，调整视频顺序。<br>调整视频速度，添加字幕。<br>多款精美滤镜可供使用。<br>插入背景音乐，自由调节各个音轨音量。<br>调整画面亮度、饱和度、对比度。
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>iOS</b></span>
									<span class="link"><a target="_blank" href="https://itunes.apple.com/us/app/cuttt!-shi-pin-bian-ji/id1175717959?l=zh&ls=1&mt=8">Cuttt! on the App Store</a></span>
								</li>
							</ul>
						</div>
					</li>


					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">ReminDo</h2>
							<time></time>
							<img src="images/work-remindo.png">
							<ul>
								<li>
								ReminDo是一款简洁易用的任务管理清单，是你完成生活中所有事情的理想助手。<br>简洁的界面、流畅的过度动画，带给您愉悦的体验。<br>完全自定义的分类列表，一目了然。<br>支持iOS下拉通知栏widget，快速查看每天的安排。<br>数据统计直接明了，任务的完成情况了然于胸。<br>方便快捷的手势操作，快速的信息录入，节省您的宝贵时间。
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>iOS</b></span>
									<span class="link"><a target="_blank" href="https://itunes.apple.com/us/app/remindo-jian-jie-kuai-su-gao/id951519758?l=zh&ls=1&mt=8">ReminDo on the App Store</a></span>
								</li>
							</ul>
						</div>
					</li>



					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">Gallop</h2>
							<time></time>
							<img src="images/work-gallop.png">
							<ul>
								<li>
									Gallop是一个功能强大、性能优秀的图文混排框架。主要用于解决以下需求：<br>
									实现图文混排界面，比如在文本中添加表情，对文字添加点击链接。<br>滚动列表的性能优化。Gallop使用异步绘制、视图层级合并、观察mainRunloop、对布局模型预先缓存等方法，能在实现复杂的图文混排界面时，仍然保持一个相当优秀的滚动性能（FPS基本保持在60Hz)。<br>方便的解析HTML渲染生成原生iOS页面。
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>objc</b></span>
									<span class="link"><a target="_blank" href="https://github.com/waynezxcv/Gallop">Gallop on the Github</a></span>
							</ul>
						</div>
					</li>



					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">warm+ for iOS @warm+</h2>
							<time></time>
							<img src="images/work-warmjar.png">
							<ul>
								<li>
									warm+，致力于打造一个温暖的线上青年社区。<br>可通过家人模块，与邻居进行互助、一起玩、分享技能。<br>可在APP里发现和了解我们最新的房源及周边的便利生活。<br>warmer可完成报修，投诉等服务，可查询和多渠道支付每月的费用。<br>
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>iOS</b></span>
									<span class="link"><a target="_blank" href="https://itunes.apple.com/us/app/warm+/id1125967242?l=zh&ls=1&mt=8">warm+ on the App Store</a></span>
								</li>
							</ul>
						</div>
					</li>


					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">我们云管家 for iOS @warm+</h2>
							<time></time>
							<img src="images/work-warmjar2.png">
							<ul>
								<li>
									我们云管家是warm+公寓面向管家的企业级iOS应用。<br>管家可在手机端完成租赁合同手机签约、包含房源统计、看房预约、保修和投诉处理、工程验收等功能。
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>iOS</b></span>
								</li>
							</ul>
						</div>
					</li>

					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">Mchat for iOS @lingnei</h2>
							<time></time>
							<img src="images/work-lingnei.png">
							<ul>
								<li>
									Mchat是一款阅后即焚的即使通讯应用。<br>用户可以拍照并对照片添加文字和涂鸦，并将他们发送到自己在该应用上的好友列表。所有照片都可以选择一个1到10秒的生命期，用户拍了照片发送给好友后，这些照片会根据用户所预先设定的时间按时自动销毁。
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>iOS</b></span>
									<span class="link"><a target="_blank" href="https://itunes.apple.com/us/app/mo-xin-fen-xiang-tu-pian-yue/id990960718?l=zh&ls=1&mt=8">Mchat on the App Store</a></span>
								</li>
							</ul>
						</div>
					</li>


					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">LWAlchemy</h2>
							<time></time>
							<img src="images/work-lwalchemy.png">
							<ul>
								<li>
								LWAlchemy 快速、高性能的支持CoreDta的iOS ORM框架。<br>支持JSON直接生成NSObject、NSManagedObject模型，且速度极快。<br>支持自动和自定义的映射路径。<br>支持CoreData并发，在不阻塞主线程的情况下，进行数据库CURD。<br>支持CoreData设置Unique约束。<br>轻量级，代码入侵少。
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>objc</b></span>
									<span class="link"><a target="_blank" href="https://github.com/waynezxcv/LWAlchemy">LWAlchemy on the Github</a></span>
								</li>
							</ul>
						</div>
					</li>


					{% if site.duoshuo_username %}
					<li>
						<div class="cbp_tmlabel">
			                <!-- 多说评论框 start -->
			                <div class="comment">
			                    <div class="ds-thread"
									data-thread-key="{{site.duoshuo_username}}/portfolio"
			                        data-title="{{page.title}}"
			                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
			                    </div>
			                </div>
			                <!-- 多说评论框 end -->
						</div>
					</li> 
					{% endif %}
				</ul>
			</div>
		</div>
		{% if site.duoshuo_username %}
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		    // dynamic User by Hux
		    var _user = '{{site.duoshuo_username}}';

		    // duoshuo comment query.
		    var duoshuoQuery = {short_name: _user };
		    (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0]
		         || document.getElementsByTagName('body')[0]).appendChild(ds);
		    })();
		</script>
		<!-- 多说公共JS代码 end -->
		{% endif %}
	</body>
</html>
