---
title: Portfolio
layout: default
---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Waynezxcv - Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header>
				<img width="190" height="190" src="images/avatar.png">
				<h1>waynezxcv</h1>
				<p>watching and learning.<br</p>
			</header>
			<div class="main">



				<ul class="cbp_tmtimeline">


					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">Cuttt!</h2>
							<time></time>
							<img src="images/work-puppeteer.png">
							<ul>
								<li>
								Puppeteer -- 电脑遥控器，PPT激光笔 <br>在同一Wifi环境下，使电脑和手机连接<br>手机变身无线触控板，无线键盘<br>演示文稿辅助，支持PPT、Keynote，上下翻页，启动激光笔<br>应用管理，快速启动和关闭电脑上的应用<br>远程控制电脑注销、睡眠、重启、关机
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>iOS</b></span>
									<span class="link"><a target="_blank" href="https://itunes.apple.com/us/app/puppeteer-ppt-ji-guang-bi/id1182025548?l=zh&ls=1&mt=8">Puppeteer on the App Store</a></span>
								</li>
							</ul>
						</div>
					</li>


					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">Cuttt!</h2>
							<time></time>
							<img src="images/work-cuttt.png">
							<ul>
								<li>
								Cuttt!--功能强大的频编辑应用。<br>支持多段视频拼接，自由选择视频区间，调整视频顺序。<br>支持调整视频速度，添加字幕。<br>多款精美滤镜可供使用。<br>支持插入背景音乐，自由调节各个音轨音量。<br>支持调整画面亮度、饱和度、对比度。
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>iOS</b></span>
									<span class="link"><a target="_blank" href="https://itunes.apple.com/us/app/cuttt!-shi-pin-bian-ji/id1175717959?l=zh&ls=1&mt=8">Cuttt! on the App Store</a></span>
								</li>
							</ul>
						</div>
					</li>


					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">ReminDo</h2>
							<time></time>
							<img src="images/work-remindo.png">
							<ul>
								<li>
								ReminDo简洁易用的任务管理清单，是你完成生活中所有事情的理想助手。<br>简洁的界面、流畅的过度动画，带给您愉悦的体验。<br>完全自定义的分类列表，一目了然。<br>支持iOS下拉通知栏widget，快速查看每天的安排。<br>数据统计直接明了，任务的完成情况了然于胸。<br>方便快捷的手势操作，快速的信息录入，节省您的宝贵时间。
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>iOS</b></span>
									<span class="link"><a target="_blank" href="https://itunes.apple.com/us/app/remindo-jian-jie-kuai-su-gao/id951519758?l=zh&ls=1&mt=8">ReminDo on the App Store</a></span>
								</li>
							</ul>
						</div>
					</li>


					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">Gallop</h2>
							<time></time>
							<img src="images/work-gallop.png">
							<ul>
								<li>
									Gallop是一个功能强大、性能优秀的图文混排框架。主要用于解决以下需求：<br>
									实现图文混排界面，比如在文本中添加表情，对文字添加点击链接。<br>滚动列表的性能优化。Gallop使用异步绘制、视图层级合并、观察mainRunloop、对布局模型预先缓存等方法，能在实现复杂的图文混排界面时，仍然保持一个相当优秀的滚动性能（FPS基本保持在60Hz)。<br>方便的解析HTML渲染生成原生iOS页面。
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>objc</b></span>
									<span class="link"><a target="_blank" href="https://github.com/waynezxcv/Gallop">Gallop on the Github</a></span>
							</ul>
						</div>
					</li>


					{% if site.duoshuo_username %}
					<li>
						<div class="cbp_tmlabel">
			                <!-- 多说评论框 start -->
			                <div class="comment">
			                    <div class="ds-thread"
									data-thread-key="{{site.duoshuo_username}}/portfolio"
			                        data-title="{{page.title}}"
			                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
			                    </div>
			                </div>
			                <!-- 多说评论框 end -->
						</div>
					</li> 
					{% endif %}
				</ul>
			</div>
		</div>
		{% if site.duoshuo_username %}
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		    // dynamic User by Hux
		    var _user = '{{site.duoshuo_username}}';

		    // duoshuo comment query.
		    var duoshuoQuery = {short_name: _user };
		    (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0]
		         || document.getElementsByTagName('body')[0]).appendChild(ds);
		    })();
		</script>
		<!-- 多说公共JS代码 end -->
		{% endif %}
	</body>
</html>
